.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center !important;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--beige);
}

.login-logo {
  width: 100%;
  padding: 0px 4%;
}

.login-form {
  width: 100%;
  max-width: 386px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 56vh;
}

.login-input-container {
  display: flex;
  align-items: flex-end;
  border-bottom: solid 0.3px rgba(56, 55, 67, 0.3);
}
.login-input-container:last-child {
  margin-top: 4rem;
}

.login-campos-container {
  margin-top: 8px;
}

.login-input-container > input.form-control {
  border: none;
  outline: none;
  box-shadow: none !important;
  background: transparent !important;
  font-family: Roboto;
  height: 2.7rem;
  font-size: 2.1rem;
  letter-spacing: -0.13px;
  text-align: left;
  color: var(--charcoal-grey);
}

.login-input-container > img.login-icons {
  width: 30px;
  opacity: 0.8;
}

.login-icon-warning {
  width: 19px;
  margin-bottom: 4px;
  margin-right: 6px;
  opacity: 0.8;
}

.login-input-container .login-eyed-icon {
  width: 24px;
  opacity: 0.5;
  margin-top: 10px;
}

#login-buttom {
  width: 324px;
  height: 52.8px;
  border-radius: 3.6px;
  background-color: #57bbbc;
  border-color: #57bbbc !important;
}

.login-subtitle {
  font-family: Roboto;
  font-size: 2.1rem;
  line-height: 2.44rem;
  letter-spacing: -0.3px;
  text-align: center;
  color: var(--charcoal-grey);
}

.login-title {
  font-family: Roboto;
  font-size: 2.8rem;
  font-weight: bold;
  color: #383743;
  letter-spacing: -0.6px;
  color: var(--charcoal-grey);
}

.login-btn {
  display: inline-block;
  font-weight: 400;
  color: var(--white-two);
  font-family: Roboto;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  width: 96%;
  margin: 0px auto;
  height: 45px;
  font-size: 2rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: var(--greeny-blue) !important;
}

.login-erro-msg {
  font-family: Roboto;
  font-size: 1.4rem;
  font-weight: normal;
  color: #ff0f44;
}

.login-loader-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(0.5px);
  backdrop-filter: blur(0.5px);
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 6;
}

.login-loader {
  border: 10px solid var(--greeny-blue);
  border-radius: 50%;
  border-top: 10px solid rgba(255, 255, 255, 0.623);
  width: 110px;
  height: 110px;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
