.home-loader {
  margin: 78px auto;
  border: 10px solid #e04772;
  border-radius: 50%;
  border-top: 10px solid rgba(255, 255, 255, 0.623);
  width: 85px;
  height: 85px;
  animation: spin 0.5s linear infinite;
}
