.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-logo-container {
  max-width: 250px;
  opacity: 1;
  transition: all 0.2s ease;
}

.home-placeholder {
  position: absolute;
  margin: 1.4rem 1rem;
  font-size: 2.4rem;
  color: #991237;
}

.home-input-search {
  width: 100%;
  font-family: Roboto;
  font-size: 3rem;
  background: none;
  border: none;
  outline: none;
}

.home-search-container .home-search-icon {
  width: 68px;
}

.home-search-container .home-close-icon {
  width: 68px;
  margin-left: auto;
  transition: all 0.2s ease;
}

.home-search-container {
  display: flex;
  width: 68px;
  border-bottom: 1px solid white;
  transition: all 0.3s ease;
}

.home-body-container {
  flex: 1;
  overflow: auto;
  padding: 0px 34px;
  background-color: var(--beige);
}

#home-msg-detail {
  font-family: Roboto;
  font-size: 3rem;
  line-height: 1.22;
  margin: 200px;
  letter-spacing: -0.23px;
  text-align: center;
  color: #383743;
  transition: all 2s ease;
}

.home-list-grid a .home-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px auto;
}

.home-list-grid a {
  text-decoration: none !important;
}

.home-card-list {
  min-height: 275px;
  max-width: 1150px;
  padding: 2.6rem;
  background-color: var(--white-two);
}

.home-card-description {
  padding: 10px 20px;
  flex: 1;
}

.home-card-empresa {
  font-family: Roboto;
  font-size: 3rem;
  font-weight: bold;
  text-align: left;
  color: var(--dark-indigo);
}

.home-card-negocio {
  font-family: Roboto;
  font-size: 2.4rem;
  text-align: left;
  color: var(--warm-grey);
}

.home-card-pais {
  font-family: Roboto;
  font-size: 1.8rem;
  text-align: left;
  color: var(--warm-grey);
}

.home-card-img {
  width: 100%;
}

/* Small devices  */
@media (max-width: 767.98px) {
  .home-card-list {
    flex-direction: column;
    height: auto;
  }
  .home-card-description {
    padding: 36px 18px;
    /* flex: 1 1; */
    height: 219px;
  }

  .home-body-container {
    padding: 0px 17px;
  }

  #home-msg-detail {
    font-size: 17px;
    margin: 71px;
  }
  .home-logo-container {
    max-width: 200px;
  }
}
/* Medium devices */
@media (max-width: 991.98px) {
  .home-list-grid {
    grid-template-columns: 1fr;
  }
}
