.home-header-limiter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1100px;
  margin: auto;
  height: 110px;
}

.home-header-container {
  background-image: linear-gradient(180deg, #ee4c77 -21%, #0d0430 371%);
}

/* Small devices  */
@media (max-width: 767.98px) {
  .home-header-limiter {
    height: 60px;
  }
}
