.detail-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.detail-left-icon svg {
  stroke: var(--white-two);
}

.detail-header-title {
  font-family: Roboto;
  font-size: 3.6rem;
  margin-left: 3rem;
  color: var(--white-two);
}

.detail-list-container {
  display: flex;
  flex-direction: column;
}

.detail-body-container {
  flex: 1 1;
  padding: 20px;
  background-color: var(--beige);
}

.detail-card-list {
  display: flex;
  flex-direction: column;
  max-width: 1150px;
  margin: 20px auto;
  padding: 1rem 7rem;
  background-color: var(--white-two);
}

.detail-card-description {
  padding: 10px 20px;
  flex: 1;
}

.detail-card-negocio {
  font-family: SourceSansPro;
  font-size: 2.4rem;
  text-align: left;
  color: var(--warm-grey);
}

.detail-card-img-container {
  /* height: 222px; */
}

.detail-card-img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
