:root {
  --white: #d8d8d8;
  --greeny-blue: #57bbbc;
  --beige: #ebe9d7;
  --white-two: #ffffff;
  --dark-indigo: #1a0e49;
  --warm-grey: #8d8c8c;
  --charcoal-grey-two: #403e4d;
  --greyish: #b5b4b4;
  --medium-pink: #ee4c77;
  --charcoal-grey: #383743;
  --black-54: rgba(0, 0, 0, 0.54);
  --night-blue: #0d0430;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  /* a cada 1rem será considera 10px */
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* formt autocomplete chrome style */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #494758 !important;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

@media (max-width: 1199.98px) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 991.98px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 767.98px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 575.98px) {
  html {
    font-size: 40%;
  }
}
